/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&family=Roboto+Mono:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Colors
$light-light-orange: #d5ced9;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$gray: #64605f;
$light-gray: #949799;
$light-orange: #d6a37c;
$black: #000000;
$burnt-orange: #ad7237;

// Base document colors
$navbar-bg: $cream;
$navbar-fg: $dark-sage-green; 
$navbar-hl: $light-orange; 
$body-bg: $light-light-orange;
$body-color: $gray;
$footer-bg: $cream; 
$link-color: $light-orange;

// Inline code
$code-bg: $cream;
$code-color: $burnt-orange; //$light-orange; 

// Code blocks
$code-block-bg: $cream;

/*-- scss:rules --*/

/* ELEMENT SELECTORS */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
  font-weight: 700;
  color: $gray;
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
  color: $black;
}

body {
  line-height: 1.7; // min 1.5 suggested for assistive tech
  font-size: 17px;
}

/* CLASS SELECTORS (self-defined) */

.custom-subtitle {
  font-size: 22px;
  margin-bottom: 0.15em;
}

.custom-subtitle2 {
  font-size: 20px;
  font-style: italic;
}

.topbr {
    display: block;
    margin-top: 1em;
}

.center {
  text-align: center;
  left: 50%;
}

.container {
  display: flex;
}

.button-styling {
  background: $light-light-orange;
  border-color: $gray;
  color: $gray;
  border-radius: 0.6rem;
  border-width: thin;
  font-size: 18px;
  letter-spacing: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  transition-duration: 0.4s;
}

.button-styling:hover {
  background-color: $cream; 
}

.gray-italic {
  color: $gray;
  font-style: italic;
  font-size: 17px;
}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

.navbar-brand img { // see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
  max-height: 60px;
  width: auto;
}

.rounded { // headshot shape
    border-radius: 50px 20px 50px 20px !important;
}

.about-link-text { // button text size
  font-size: 18px;
}

.bi { // button icon size
  font-size: 18px;
}

.card {
  background-color: $cream;
  //border-radius: 5.25em;
}

/* .card-attribution {
  //padding-top: 5em;
  padding-bottom: 3em;
} */

.description {
  font-size: 25px;
}